<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="votebuttons">
      <button class="comment-like-button" data-comment-id="{{id}}">
        <img class="upvote" src="/images/up.png">
      </button>
      <div class="score">{{total_score}}</div>
      <button class="comment-dislike-button" data-comment-id="{{id}}">
        <img class="downvote" src="/images/down.png">
      </button>
    </div>
    <div class="commentinfo">
      <span class="meta">
        by {{user.username}} on {{format_date created_at}}
      </span>
      <div class="comment-content">
        {{text}}
      </div>
    </div>
  </section>
  {{/each}}
</div>