<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}} Likeability {{up_score}} Bummer {{down_score}}
  </div>
</article>