<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}} Likeability {{total_score}} <button id="like-button" data-post-id="{{id}}">Like</button> <button id="dislike-button" data-post-id="{{id}}">Dislike</button>
  </div>
</article>