<h2>{{user.username}}'s Posts</h2>
{{log "LOGGING INITIAL POST"}}
{{log posts}}
{{log "done logging"}}
{{!-- {{log posts.posts}} --}}
{{!-- {{log "log 2"}} --}}
{{#if posts.posts.length}}
<section>
    <ol>
        {{#each posts.posts as |post|}}
        {{log "**"}}
        {{log post}}
        {{!-- {{log post}} --}}
        {{log "**"}}
        <li>
            {{> post-info-userpage post}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}